/**
 * @file test-form.css
 */

.migrate-spip-ui-test-form th,
.migrate-spip-ui-test-form td {
  vertical-align: top;
  width: 50%;
}

.migrate-spip-ui-test-form td {
  position: relative;
}

.migrate-spip-ui-test-form textarea {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
